<style>
  .bottom-link {
    padding-bottom: 1rem;
  }
  .under_image {
    font-family: 'Libre Baskerville' !important;
    padding-top: 1rem;
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .summary-div {
    justify-content: space-between;
    align-items: center;
    font-family: 'Brooklyn';
    display: flex;
    cursor: pointer;
  }
</style>

<div class="menu_moblie d-flex d-xl-none jsmenumobile align-items-center {% unless settings.enable_sticky_mobile %}engoc-disable-sticky{% endunless %}">
  <span style="cursor: pointer;" title="" class="menuleft">
    <span class="iconmenu">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </span>
  <div class="logo_menumoblie">
    {% if settings.logo_svgmobile != blank %}
      <a href="{{shop.url}}">{{ settings.logo_svgmobile }}</a>
    {% else %}
      <a href="{{shop.url}}">
        {% if settings.logo_mobile != blank %}
          <img src="{{settings.logo_mobile|img_url:'master'}}" width="{{settings.mobile_logo_maxwidth}}" alt="logo">
        {% else %}
          <img src="//placehold.it/40x40" width="{{settings.mobile_logo_maxwidth}}" alt="logo">
        {% endif %}
      </a>
    {% endif %}
  </div>
  <div class="menuright">
    <span style="cursor: pointer;" class="pr-3 js-search-destop"><i class="icon-icon-search"></i></span>
    <span class="js-call-minicart" style="cursor: pointer;">
      {% include 'icon-cart' %}
      <a href="javascript:void(0)" title="" class="js-call-minicart">
        {% comment %} <i class="icon-icon-cart"></i> {% endcomment %}
        <span class="count_pr_incart enj-cartcount">{{ cart.item_count }}</span>
      </a>
    </span>
  </div>
</div>
<div class="box_contentmenu_background"></div>
<div class="box_contentmenu">
  <div class="tab_content_menu_mobile">
    <div class="close-menu-mobile text-center js-eveland-close">
      <i class="ti-close mr-3"></i>
    </div>

    <div class="new-tab-content">
      {% assign main_menu = settings.main_menu_store %}
      {% for link in linklists[main_menu].links %}
        {% if link.links.size > 0 %}
          <div>
            <div onclick="summery({{ forloop.index }})" class="summary-div">
              {{ link.title }}
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
            <br>

            <div style="display: none;" id="details-{{ forloop.index }}">
              {% for sublink in link.links %}
                {% if sublink.links.size > 0 %}
                  <div style="padding-bottom: 1rem;">
                    <h3 style="font-family: Ambroise Std !important;font-size: 18px !important;padding-bottom: 1rem;">
                      {{ sublink.title }}
                    </h3>
                    {% for sub_link in sublink.links %}
                      <p>
                        <a style="font-family: Brooklyn;" href=" {{ sub_link.url }}">{{ sub_link.title }} </a>
                      </p>
                    {% endfor %}
                  </div>
                {% else %}
                  <h3 style="font-family: Ambroise Std !important;font-size: 18px !important;padding-bottom: 1rem;">
                    <a href="{{ sublink.url }}"> {{ sublink.title }} </a>
                  </h3>
                {% endif %}
              {% endfor %}
            </div>

          </div>
        {% else %}
          <p>
            <a style="font-family: Brooklyn;" href="{{ link.url }}"> {{ link.title }} </a>
          </p>
        {% endif %}
      {% endfor %}
    </div>

    <div class="mobile-menu-footer">
      <div class="menu-horizon-list bottom-link">
        <a style="font-family: Brooklyn;" class="relative nammenu uppercase" href="https://shopgalbi.com/account"
          >Login</a
        >
      </div>
      <div class="menu-horizon-list bottom-link">
        <a style="font-family: Brooklyn;" class="relative nammenu uppercase" href="https://shopgalbi.com/pages/wishlist"
          >Wishlist</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  let menuOpen = false;
  function summery(index){
    menuOpen = !menuOpen;
    const details = document.getElementById('details-'+ index);
    if(menuOpen){
      details.style.display = 'block'
    } else {
      details.style.display = 'none'
    }
  }
</script>

<script>
  $('.menuleft').on('click', function () {
    $(this).toggleClass('active');
    $('.box_contentmenu').toggleClass('active');
    $('.box_contentmenu_background').toggleClass('active');
  });
  $('.box_contentmenu_background').on('click', function () {
    $(this).removeClass('active');
    $('.box_contentmenu').removeClass('active');
    $('.menuleft').removeClass('active');
    $('.box_contentmenu_background').removeClass('active');
  });
  $('.js-eveland-close').on('click', function () {
    $(this).removeClass('active');
    $('.box_contentmenu').removeClass('active');
    $('.menuleft').removeClass('active');
    $('.box_contentmenu_background').removeClass('active');
  });

  $('.js-search-destop').on('click', function () {
    $('.js-box-search').addClass('active');
    $('.bg_search_box').addClass('active');
  });
  $('.js-drawer-close').on('click', function () {
    $('.js-box-search').removeClass('active');
    $('.bg_search_box').removeClass('active');
  });
  $('.bg_search_box').on('click', function () {
    $('.js-box-search').removeClass('active');
    $('.bg_search_box').removeClass('active');
  });
</script>
