<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v6" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v6">
    <div class="slick-side-h6">
      {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
      {% if block.type == "slideshow" %}
      <div class="itemv-slide-h6" style="background-image: url({% if block.settings.backgroud_slide != blank %}{{block.settings.backgroud_slide |img_url:'master'}}{% else %}//placehold.it/1920x935{% endif %})">
        <div class="container container-v2">
          <div class="content   {% if block.settings.textright%}text-right{% endif%} ">
            {% if block.settings.block_title != blank %}
            <div class="box-title-slide6">
            <h2 class="mb-0 title-slideshow {% if block.settings.textright%}text-right{% endif%}" style="color:{{block.settings.color_title}};">{{block.settings.block_title}}</h2>
            </div>
              {% endif %}
            {% if block.settings.block_subtitle != blank %}
            <p class="mb-0 sub-title-content {% if block.settings.textright%}text-right{% endif%}" style="color:{{block.settings.color_subtitle}};">{{block.settings.block_subtitle}}</p>
            {% endif %}
            {% if block.settings.block_buton != blank %}
            <a href="{{block.settings.block_url}}" class="button-shop-{{section.id}}-{{block.id}} {% if block.settings.textright%}text-right{% endif%}" style="color:{{block.settings.color_block_button}}; background-color:{{block.settings.color_bg_block_button}};">{{block.settings.block_buton}}</a> 
            {% endif%}
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}
  .section-slideshow-v6 .itemv-slide-h6 .content .button-shop-{{section.id}}-{{block.id}}:hover{
  	background-color: {{block.settings.color_bg_block_button_hover}} !important;
  }
   {% endif %}
  {% endfor %}
</style>
{% schema %}
{
  "name": "Slideshow v6",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [

		{
          "type": "image_picker",
          "id": "backgroud_slide",
          "label": "Image slideshow",
          "info": "1920 x 935px recommended"
        },
		{
          "type": "checkbox",
          "id": "textright",
          "label": "Text right ?",
          "default": true
        },
        {
          "type": "text",
          "id": "block_title",
          "label": "Title sideshow",
          "default": "The Outline<br>Cuff"
        },
		{
           "type": "color",
           "id": "color_title",
           "label": "Color Title sideshow",
           "default": "#333333"
        },
		{
          "type": "text",
          "id": "block_subtitle",
          "label": "Sub Title sideshow",
          "default": "DETAIL DEFINED"
        },
		{
           "type": "color",
           "id": "color_subtitle",
           "label": "Color Sub Title sideshow",
           "default": "#acabab"
        },
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
		{
           "type": "color",
           "id": "color_block_button",
           "label": "Color button",
           "default": "#fff"
        },
		{
           "type": "color",
           "id": "color_bg_block_button",
           "label": "Color background button",
           "default": "#7b5d57"
        },
		{
           "type": "color",
           "id": "color_bg_block_button_hover",
           "label": "Color background button hover",
           "default": "#48c8fd"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        }      
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow v6",
      "category": "HOME 6",
	  "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_title": "The Outline<br>Cuff",
			"block_subtitle":"DETAIL DEFINED",
            "block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_title": "Spring<br>Collection",
			"block_subtitle":"DETAIL DEFINED",
            "block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_title": "Eveland<br>Sale Collection",
			"block_subtitle":"DETAIL DEFINED",
            "block_buton": "Shop now"
          }
        }		
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
