<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-slideshow-v5">
      <div class="slick-side-h5">       
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == "slideshow" %}
        <div class="itemv-slide-h5">
          <div class="info-sideh5">
            <div class="picture-slideshow">
              {% if block.settings.block_banerimage != blank %}
              <img src="{{block.settings.block_banerimage | img_url: 'master'}}" class="img-responsive img_slideh5" alt="">
              {% else %}
              <img src="//placehold.it/1920x910" class="img-responsive img_slideh5" alt="slideshow">
              {% endif %}
            </div>
         
            <div class="box-content">
              <div class="box-title">
                {% if block.settings.block_title_top != blank %}
                <h3 class="titlebig mb-0" style="color:{{block.settings.color_block_title_top}};">{{ block.settings.block_title_top }}</h3>
                {% endif %} 
              </div>
              
              <div class="sub-title-box">
                {% if block.settings.block_subtitle != blank %}
                <p class="mb-0" style="color:{{block.settings.color_subtitle}};">{{block.settings.block_subtitle}}</p>
                {% endif %}
              </div>              
              
              <div class="box-button">
                {% if block.settings.block_buton != blank %}
                <a class="button-shop button-shop-{{section.id}}-{{block.id}}" href="{{block.settings.block_url}}" style="color:{{block.settings.color_block_button}}; background-color:{{block.settings.color_bg_block_button}}">
                  {{ block.settings.block_buton }}
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        
      </div>
  </div>
</div>
<style>
  {% for block in section.blocks %}
  {% if block.type == 'slideshow' %}
	.section-slideshow-v5 .slick-active .info-sideh5 .box-content .box-button .button-shop-{{section.id}}-{{block.id}}:hover{
    	background-color: {{block.settings.color_bg_block_button_hover}} !important;
    }

  {% endif %}
  {% endfor %}
</style>
{% schema %}
{
  "name": "Slideshow v5",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
		{
          "type": "image_picker",
          "id": "block_banerimage",
          "label": "Image slideshow",
          "info": "1881 x 910px recommended"
        },	
        {
          "type": "text",
          "id": "block_title_top",
          "label": "Title sideshow top",
          "default": "Beton Cire"
        },
        {
           "type": "color",
           "id": "color_block_title_top",
           "label": "Color Title sideshow top",
           "default": "#fff"
        },
			{
          "type": "text",
          "id": "block_subtitle",
          "label": "Sub Title sideshow",
          "default": "Inspiration from the city, sea & the journey"
        },
		{
           "type": "color",
           "id": "color_subtitle",
           "label": "Color Sub Title sideshow",
           "default": "#fff"
        },		
        {
          "type": "text",
          "id": "block_buton",
          "label": "Button slideshow",
          "default": "Shop now"
        },
		{
           "type": "color",
           "id": "color_block_button",
           "label": "Color button",
           "default": "#fff"
        },
		{
           "type": "color",
           "id": "color_bg_block_button",
           "label": "Color background button",
           "default": "#5a8da8"
        },
		{
           "type": "color",
           "id": "color_bg_block_button_hover",
           "label": "Color background button hover",
           "default": "#48c8fd"
        },
        {
          "type": "url",
          "id": "block_url",
          "label": "URL button slideshow",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow v5",
      "category": "HOME 5",
	  "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Beton Cire",
            "block_subtitle": "Inspiration from the city, sea & the journey",
			"block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Beton Cire",
            "block_subtitle": "Inspiration from the city, sea & the journey",
			"block_buton": "Shop now"
          }
        },
		 {
          "type": "slideshow",
          "settings": {
            "block_title_top": "Beton Cire",
            "block_subtitle": "Inspiration from the city, sea & the journey",
			"block_buton": "Shop now"
          }
        }		
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
