<section class="collection-page-fullwidth">
  <div class="filter-to-left">
    <div class="filter_sidebar">
      <div class="close_filter">
        {{ 'products.product.close' | t }}
        <i class="ti-close"></i>
      </div>
      {% include 'collection-sidebar' %}
    </div>
  </div>
  <div class="overlay-filter d-none d-sm-block"></div>

  {% comment %}
    <div class="product_tranding engo_align row">
      {% assign products_limit = section.settings.products_limit %}
      {% assign col = section.settings.select_collection %}
      {% for product in collections[col].products limit: products_limit %}
        <div class="col-lg-4 col-6 col-md-4">
          {% include 'product-item-v1' %}
        </div>

      {% else %}
        {% for i in (1..12) %}
          <div class="col-lg-3 col-6 col-md-4">
            {% include 'empty-product-item' %}
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% endcomment %}

  <div class="content-page">
    <div class="container container-v2 ">
      {% if section.settings.ena_banner %}
        <div class="banner_full">
          <div class="banner_info">
            <img
              alt="{{section.settings.bannerfull_img}}"
              src="{% if section.settings.bannerfull_img != blank %} {{section.settings.bannerfull_img | img_url : 'master'}} {% else %} //placehold.it/1400x340 {% endif %}"
            >
            <div class="info">
              <h3 class="big_title mb-0">{{ section.settings.big_title }}</h3>
              <p class="mini_title mb-0">{{ section.settings.mini_title }}</p>
              <a class="btn_shop" href="{{section.settings.bannerfull_url}}">{{ section.settings.btn_title }}</a>
            </div>
          </div>
        </div>
      {% endif %}

      {% if section.settings.ena_cate %}
        <div class="banner_cate ">
          <div class="row js_product_related">
            {% for block in section.blocks %}
              {% if block.type == 'banner_collection' %}
                <div class="col-12">
                  <div class="img_banner">
                    <a href="{{block.settings.url_collection}}">
                      <img
                        class="w-100"
                        alt="section.settings.img_banner"
                        src="{% if block.settings.img_banner != blank %} {{block.settings.img_banner |img_url : 'master'}} {% else %} //placehold.it/320x320 {% endif %}"
                      >
                    </a>
                  </div>
                  <div class="banner_title text-center">
                    <a href="{{block.settings.url_collection}}">{{ block.settings.banner_title }}</a>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.ena_bestseller %}
        <div class="cate-info">
          <div class="row">
            <div class="title_collection col-6 d-flex justify-content-start ">
              <h3 class="mb-0">{{ section.settings.text_bestseller }}</h3>
            </div>
            <div class="btn_show_all col-6 d-flex justify-content-end ">
              <a href="{{section.settings.btn_show_url}}">
                {{- section.settings.btn_text_show }}
                <i class="fa fa-angle-right" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div class="col_bestseller row js_product_related">
            {% assign products_limit = section.settings.prod_limit %}
            {% assign col = section.settings.col_bestseller %}
            {% for product in collections[col].products limit: products_limit %}
              <div class="col-12">
                {% include 'product-item-v1' %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>

    <div class="container container-v2">
      <div class="row shop_control ">
        <div
          style="{% if section.settings.ena_filter == false and section.settings.ena_filter2 == false %} display: none {% endif %}"
          class="{% if section.settings.ena_list_col == false or section.settings.ena_prod_per == false and section.settings.ena_prod_change_style == false %}col-xl-6 {% else %} col-xl-3{% endif %} col-md-6 order-md-3 col-12 galbi__filter_width"
        >
          <div class="filter_sortby">
            {% if section.settings.ena_title_cate %}
              <div class="title-cate">
                <h2 class="mb-0">{{ collection.title }}</h2>
              </div>
            {% else %}
              <div class="title-cate">
                <h2 class="mb-0">Shop dresses</h2>
              </div>
            {% endif %}

            {% if section.settings.ena_filter %}
              <a
                class="filter {% if section.settings.filter_layout == "filter_push_left" %}js_filter{% endif %}"
                {% if section.settings.filter_layout == 'filter_collapse' %}
                  data-toggle="collapse" data-target="#demo"
                {% endif %}
                href="javascript:void(0)"
              >
                {% comment %}
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 485.008 485.008"
                    style="enable-background:new 0 0 485.008 485.008;"
                    xml:space="preserve"
                  >
                    <g>
                      <g>
                        <path d="M171.501,464.698v-237.9l-166.3-192.6c-8.9-10.9-7.9-33.3,15.1-33.3h443.6c21.6,0,26.6,19.8,15.1,33.3l-162.3,187.5v147.2
                                 c0,6-2,11.1-7.1,15.1l-103.8,95.8C193.801,488.698,171.501,483.898,171.501,464.698z M64.701,41.298l142.2,164.3c3,4,5,8.1,5,13.1
                                 v200.6l64.5-58.5v-146.1c0-5,2-9.1,5-13.1l138.1-160.3L64.701,41.298L64.701,41.298z"/>
                      </g>
                    </g>
                  </svg>
                {% endcomment %}
                <p class="mb-0">{{ 'products.product.filter' | t }}</p>
              </a>
            {% endif %}

            {% if section.settings.ena_filter2 %}
              {% include 'collection-sorting' %}
            {% endif %}
          </div>
        </div>

        {% if section.settings.ena_list_col %}
          <div class=" col-xl-6 col-md-12 order-3 order-xl-2 col-12">
            <ul class="list-collection js_list_col  {% if section.settings.ena_filter == false and section.settings.ena_filter2 == false or section.settings.ena_prod_per == false%} text-xl-left{% endif %} {% if section.settings.ena_prod_per == false and section.settings.ena_prod_change_style == false and section.settings.ena_filter == true and section.settings.ena_filter2 == true %} text-xl-right {% endif %} {% if section.settings.ena_filter == false and section.settings.ena_filter2 == false and section.settings.ena_prod_per == false%} text-xl-left{% endif %}">
              {% for collection in collections %}
                {% if collection.empty? %}
                  {% comment %}add default state for collection block in theme editor{% endcomment %}
                  {% assign collection_image_url = '' %}
                {% else %}
                  {% if collection.image %}
                    {% capture collection_image_url %}{{ collection | img_url: 'master' }}{% endcapture %}
                  {% elsif collection.products.first %}
                    {% capture collection_image_url %}{{ collection.products.first | img_url: 'master' }}{% endcapture %}
                  {% endif %}
                {% endif %}
                <li class="title-collection">
                  <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}">
                    {{- collection.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        <div
          style="{% if section.settings.ena_prod_change_style == false and section.settings.ena_prod_per == false %} display:none {% endif %}"
          class="{% if section.settings.ena_list_col == false  or section.settings.ena_filter == false  and section.settings.ena_filter2 == false  %}col-xl-6 {% else %} col-xl-3{% endif %}  col-md-6 order-2 order-xl-1 col-12"
        >
          <div class="style_layout_prod  justify-content-center {% if section.settings.ena_filter == false and section.settings.ena_filter == false and section.settings.ena_list_col == false%} justify-content-md-start{% else %} justify-content-md-end {% endif %} ">
            {% if section.settings.ena_prod_change_style %}
              <div class="prod_grid {% if section.settings.prod_layout == 'prod_grid' %}active{% endif %}">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="5px"
                  height="5px"
                  viewBox="0 0 5 5"
                  enable-background="new 0 0 5 5"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path d="M0,2.191h2.191V0H0V2.191z M0.626,0.626h0.939v0.939H0.626V0.626z"/>
                      <path d="M2.81,0v2.191H5V0H2.81z M4.375,1.565h-0.94V0.626h0.94V1.565z"/>
                      <path d="M0,5h2.191V2.809H0V5z M0.626,3.435h0.939v0.939H0.626V3.435z"/>
                      <path d="M2.81,5H5V2.809H2.81V5z M3.435,3.435h0.94v0.939h-0.94V3.435z"/>
                    </g>
                  </g>
                </svg>
              </div>

              <div class="prod_list {% if section.settings.prod_layout == 'prod_list' %}active{% endif %}">
                <svg
                  version="1.1"
                  id="Layer_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="5px"
                  height="5px"
                  viewBox="0 0 5 5"
                  enable-background="new 0 0 5 5"
                  xml:space="preserve"
                >
                  <g>
                    <rect y="0.683" width="3.629" height="0.454"/>
                    <rect y="3.863" width="2.5" height="0.454"/>
                    <rect y="2.267" width="5" height="0.453"/>
                  </g>
                </svg>
              </div>
            {% endif %}

            {% if section.settings.ena_prod_per %}
              <div class="prod_per">
                <a href="javascript:void(0)" class="size_1 d-md-none">1</a>
                <a href="javascript:void(0)" class="size_2 d-lg-none">2</a>
                <a href="javascript:void(0)" class="size_3">3</a>
                <a href="javascript:void(0)" class="size_4">4</a>
                <a href="javascript:void(0)" class="size_5 ">5</a>
                <a href="javascript:void(0)" class="size_6 ">6</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div id="demo" class="collapse filter_ver2">
        <div class="filter_sidebar row engoj-collection-sidebar engoc_sw_filter_tag">
          {% include 'collection-droplist' %}
        </div>
      </div>

      <div class="clearfix relative collection_prod">
        <div class="product-grid-view {% if section.settings.prod_layout == 'prod_grid' %}active{% endif %} ">
          <div class="row grid-uniform">
            {% for collection in collections %}
            {% for product in collection.products %}
              <div class="js_size_prod col-md-4 col-lg-4 col-6 pb-4 trans-product">
                {% include 'product-item-v1' %}
              </div>
            {% else %}
              {% if collection.handle == 'all' and current_tags == '' %}
                {% for i in (1..12) %}
                  <div class="col-lg-3 col-md-3">
                    {% include 'empty-product-item' %}
                  </div>
                {% endfor %}

              {% else %}
                {% comment %}
                  If collection exists but is empty, display message
                {% endcomment %}
                <div class="text-center">
                  <p>{{ 'collections.general.no_matches' | t }}</p>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </div>

          {% if paginate.pages > 1 %}
            <div class="pagi-nav text-right">
              {{
                paginate
                | default_pagination
                | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>'
                | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>'
              }}
            </div>
          {% endif %}

          <!-- End Paginav -->
        </div>
        <div class="product-list-view {% if section.settings.prod_layout == 'prod_list' %}active{% endif %} ">
          {% for product in collection.products %}
            <div class="list_prod">
              {% include 'product-item-list' %}
            </div>
          {% else %}
            {% if collection.handle == 'all' and current_tags == '' %}
              {% for i in (1..12) %}
                <div class="col-lg-3">
                  {% include 'empty-product-item' %}
                </div>
              {% endfor %}

            {% else %}
              {% comment %}
                If collection exists but is empty, display message
              {% endcomment %}
              <div class="text-center">
                <p>{{ 'collections.general.no_matches' | t }}</p>
              </div>
            {% endif %}
          {% endfor %}
          {% if paginate.pages > 1 %}
            <div class="pagi-nav">
              {{
                paginate
                | default_pagination
                | replace: '&laquo; Previous', '<i class="fa fa-angle-left"></i>'
                | replace: 'Next &raquo;', '<i class="fa fa-angle-right"></i>'
              }}
            </div>
          {% endif %}

          <!-- End Paginav -->
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product v6",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_breadcrumb",
      "label": "Background Image BreadCrumb",
      "info": "1920x510px recommended"
    },
    {
      "type": "header",
      "content": "Product Per Page"
    },
    {
      "type": "range",
      "id": "prod_per_page",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Products Per Page",
      "default": 8
    },
    {
      "type": "select",
      "id": "collection_layout",
      "label": "Collection Layout",
      "options": [
        {
          "value": "full_width",
          "label": "Collection Layout Full Width"
        },
        {
          "value": "sidebar",
          "label": "Collection Sidebar"
        },
        {
          "value": "infinity_scroll",
          "label": "Collection Infinity Scroll"
        }
      ]
    },
    {
      "type": "select",
      "id": "prod_layout",
      "label": "Product Layout",
      "options": [
        {
          "value": "prod_grid",
          "label": "Product Grid View"
        },
        {
          "value": "prod_list",
          "label": "Product List View"
        }
      ]
    },

    {
      "type": "header",
      "content": "Collection Sidebar"
    },
    {
      "type": "select",
      "id": "sidebar_layout",
      "label": "Sidebar Layout",
      "options": [
        {
          "value": "sidebar_left",
          "label": "Sidebar Left"
        },
        {
          "value": "sidebar_right",
          "label": "Sidebar Right"
        }
      ],
      "default": "sidebar_left"
    },

    {
      "type": "url",
      "id": "banner_url",
      "label": "banner sidebar url"
    },
    {
      "type": "image_picker",
      "id": "banner_sidebar",
      "label": "Background Image BreadCrumb",
      "info": "320x480px recommended"
    },

    {
      "type": "header",
      "content": "Collection Full Width"
    },
    {
      "type": "image_picker",
      "id": "bannerfull_img",
      "info": "1400 x 340px recommended",
      "label": "Image Banner"
    },
    {
      "type": "text",
      "id": "big_title",
      "label": "Big Title",
      "default": "A WATCH COLLECTION"
    },
    {
      "type": "text",
      "id": "mini_title",
      "label": "Mini Title",
      "default": "SALE UP TO 30%"
    },
    {
      "type": "text",
      "id": "btn_title",
      "label": "Title Button",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "bannerfull_url",
      "label": "Url collection"
    },
    {
      "type": "collection",
      "id": "col_bestseller",
      "label": "Choose Collection"
    },
    {
      "type": "text",
      "id": "text_bestseller",
      "label": "Title",
      "default": "Best Sellers"
    },
    {
      "type": "text",
      "id": "btn_text_show",
      "label": "Title",
      "default": "Show all"
    },
    {
      "type": "url",
      "id": "btn_show_url",
      "label": "URL"
    },
    {
      "type": "range",
      "id": "prod_limit",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Limit Products",
      "default": 8
    },
    {
      "type": "header",
      "content": "Config"
    },
    {
      "type": "checkbox",
      "id": "ena_banner",
      "label": "Enable Banner Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_cate",
      "label": "Enable Category Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_bestseller",
      "label": "Enable Best Seller Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_title_cate",
      "label": "Enable Title Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_filter",
      "label": "Enable Filter Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_filter2",
      "label": "Enable Filter Selectbox Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_list_col",
      "label": "Enable List Collection",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_prod_change_style",
      "label": "Enable Button Change Product Style",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ena_prod_per",
      "label": "Enable Product Per Row Collection",
      "default": true
    },
    {
      "type": "header",
      "content": "Filter Layout",
      "info": "*Only select when Collection Layout 'Full Width' or 'Infinity Scroll'"
    },
    {
      "type": "select",
      "id": "filter_layout",
      "label": "Filter Layout",
      "options": [
        {
          "value": "filter_push_left",
          "label": "Filter push left"
        },
        {
          "value": "filter_collapse",
          "label": "Filter Collapse"
        }
      ]
    },

    {
      "type": "header",
      "content": "Widget Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Choose your widget and their order."
    },
    {
      "type": "select",
      "id": "collection_widget_1",
      "label": "Widget 1",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_2",
      "label": "Widget 2",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_3",
      "label": "Widget 3",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_4",
      "label": "Widget 4",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_5",
      "label": "Widget 5",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_6",
      "label": "Widget 6",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },

    {
      "type": "header",
      "content": "Widget DropdownList"
    },
    {
      "type": "paragraph",
      "content": "Choose your widget and their order."
    },
    {
      "type": "select",
      "id": "collection_widget_drop_1",
      "label": "Widget 1",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_drop_2",
      "label": "Widget 2",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_drop_3",
      "label": "Widget 3",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_drop_4",
      "label": "Widget 4",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },
    {
      "type": "select",
      "id": "collection_widget_drop_5",
      "label": "Widget 5",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "collection-widget-categories",
          "label": "Widget Categories"
        },
        {
          "value": "collection.shopby-color",
          "label": "Widget Color Filter"
        },
        {
          "value": "collection.shopby-size",
          "label": "Widget Size Filter"
        },
        {
          "value": "collection.shopby-price",
          "label": "Widget Price Filter"
        },
        {
          "value": "collection.shopby-brand",
          "label": "Widget Brand Filter"
        },
        {
          "value": "collection-widget-tags",
          "label": "Widget Tags"
        }
      ]
    },

    {
      "type": "header",
      "content": "Widget config"
    },
    {
      "type": "header",
      "content": "Widget Categories"
    },
    {
      "type": "text",
      "id": "widget_cate_title",
      "label": "Title Widget",
      "default": "Categories"
    },
    {
      "type": "link_list",
      "id": "widget_cate_menu",
      "label": "Menu for Categories"
    },
    {
      "type": "header",
      "content": "Widget Filter by Color"
    },
    {
      "type": "text",
      "id": "shop_by_color_title",
      "label": "Title Widget",
      "default": "Color Option"
    },
    {
      "type": "textarea",
      "id": "shop_by_color_list_tags",
      "info": "Shop by Color list tags is tags in product",
      "label": "Shop by Color list tags"
    },
    {
      "type": "header",
      "content": "Widget Filter by Price"
    },
    {
      "type": "text",
      "id": "shop_by_price_title",
      "label": "Title Widget",
      "default": "Price Filter"
    },
    {
      "type": "textarea",
      "id": "shop_by_price_list_tags",
      "info": "Shop by Price list tags is tags in product",
      "label": "Shop by Price list tags"
    },
    {
      "type": "header",
      "content": "Widget Filter by Size"
    },
    {
      "type": "text",
      "id": "shop_by_size_title",
      "label": "Title Widget",
      "default": "Size"
    },
    {
      "type": "textarea",
      "id": "shop_by_size_list_tags",
      "info": "Shop by Size list tags is tags in product",
      "label": "Shop by Size list tags"
    },
    {
      "type": "header",
      "info": "Brand is vendor in product",
      "content": "Widget Filter by Brand"
    },
    {
      "type": "text",
      "id": "shop_by_brand_title",
      "label": "Widget Title",
      "default": "Brand"
    },
    {
      "type": "header",
      "content": "Tag"
    },
    {
      "type": "text",
      "id": "shop_by_tag_title",
      "label": "Widget Title",
      "default": "Tags"
    }
  ],
  "presets": [
    {
      "name": "Product v6",
      "category": "HOME 6"
    }
  ]
}
{% endschema %}
