<section class="coming_soon" style="background-image: url({% if settings.password_img != blank %}{{settings.password_img|img_url:'master'}}{% else %}//placehold.it/1920x1080{% endif %})">
  <div class="top_coming_soon">
    <div class="container text-center">
      <span>
      {% assign image_url = 'https://cdn.shopify.com/s/files/1/0756/1412/6358/files/Galbi_Final_Deliverables-01_430x.png?v=1683726398#' %}
<img src="{{ image_url }}" alt="Dynamic Image">
</span>
      {% if settings.password_title != blank %}
      <span class="text-uppercase">{{settings.password_title}}</span>
      {% endif %}
      {% if settings.description_password_title != blank %}
      <h1 class="mb-0">{{settings.description_password_title}}</h1>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
    <div class="time">
      <div class="row justify-content-center text-center">
        {% if settings.ymdhps_password != blank %}
        <ul class="mb-0 list-inline list-unstyled " data-countdown="password-countdown" data-date="{{settings.ymdhps_password}}">
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="signup">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-9 text-center">

<!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
    <form action="https://shopgalbi.us11.list-manage.com/subscribe/post?u=0f0231a0487aee0417a53e81b&amp;id=79df9734bb&amp;f_id=00264ae0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text">yourname@example.com</span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0f0231a0487aee0417a53e81b_79df9734bb" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/irGz7I" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
          
      
          
          <ul class="list-inline list-unstyled mb-0 icon text-center">
            <li class="list-inline-item mr-0">
              <a href="https://www.instagram.com/shopgalbi/" title="Instagram" target="_blank" class="fa fa-instagram"></a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="https://www.tiktok.com/@shopgalbi" title="Tiktok" target="_blank" class="tiktok-icon">
                <img src="https://cdn.shopify.com/s/files/1/0756/1412/6358/files/t-icon_430x.png?v=1686065151" alt="tiktok"> 
              </a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="{{settings.url_pass_3}}" title="Facebook" target="_blank" class="fa fa-facebook"></a>
            </li>
            <li class="list-inline-item mr-0">
              <a href="https://twitter.com/shopgalbi" title="Twitter" target="_blank" class="fa fa-twitter"></a>
            </li>                         
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .promo_topbar , #header ,header,footer
  {
    display:none !important;
  }

  #mc_embed_signup {
    width: 100% !important;
}

  #mc_embed_signup .mc-field-group input {
    padding: 15px 0 !important;
    border: 2px solid #ABB0B2 !important;
}

  #mc_embed_signup .button {
    clear: both;
    background-color: #1a0a0a;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}

  #mc_embed_signup .brandingLogo {
    display: none;
}

#mc_embed_signup .foot {
    display: block !important;
    text-align: center;
}
</style>